body {
  background: #8971FF;
  font-family: sans-serif;
}
/*Dutch class*/
#dutch:checked ~ .wrapper .dutch{
   display: block;
}

#dutch ~ .wrapper .dutch{
   display: none;
}

#dutch:checked ~ .wrapper .english{
  display: none;
}
/*/Dutch class*/
/*English class*/
#english ~ .wrapper .english{
  display: none;
}

#english:checked ~ .wrapper .dutch{
  display: none;
}

#english:checked ~ .wrapper .english{
  display: block;
}
/*English class*/
h1 {
  text-align: center;
}

hr {
  color: #8971FF;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

div {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}
/*Route planner*/
.maps {
  position: absolute;
  bottom: 10px;
}
/*/Route planner*/
/*Corners style*/
.corners {
  background: #FFFCF1;
  height: 700px;
  margin: 50px;
  max-width: 100%;
  position: relative;
  width: 80%;
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
}

.corners:after,
.corners:before {
  background: #8971FF;
  content: '';
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  box-shadow: 0 5px 10px -7px hsla(0, 0% ,0%, 0.5);
}

.corners:after {
  left: -50px;
  transform: rotate(-45deg);
}

.corners:before {
  right: -50px;
  transform: rotate(45deg);
}
/*/Corners style*/
